# Maven
target/
*.log

# Eclipse
.classpath
.project
.settings/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Jenkins
.jenkins/

# Docker
*.tar

# Kubernetes
*.kube

# Node
node_modules/

# Build
dependency-reduced-pom.xml

# Temporary
*.tmp
*.swp
